@media only screen and (min-width: 44rem) {



    /*Nav */
    nav {
        max-width: 100%;
      }
  
      nav ul {
          display: flex;
            list-style-type: none;
            
            margin: 0;
        }
  
    nav ul li {
      padding: 1rem 1rem;
    }
        
        
        nav ul li a {
            display: inline-block;
            padding: 0 1rem;
        
        }
  
        nav ul.hide{
          display: flex;
        }
    
      nav button {
        display: none;
    }
/* Header*/

header img {
      position: relative;
      margin-left: 38%;
  
    
    }
      
    header h1 {
      position: relative;
      color: #F23232;
      margin-left: 45%;
      margin-top: -5rem;
      font-family: "Stardos Stencil";
      font-size: 50pt;
      text-shadow: 2px 3px 4px black;
      z-index: 1;
      
    }
    
    header h2 {
      color: black;
      padding-bottom: 1rem;
      margin-left: 39%;
      margin-top: -3rem;
      font-family: "Dosis";
      font-size: 20pt;
    }

/*Home*/

.img1 {
  display: block;
}

.events {
  margin-left: 3rem;
}

.events li {
  padding: .3rem;
}


  .upcoming, .featured {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;

}

.weather {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  
}

.call h1, .call h2 {
  font-family: "Stardos Stencil";
  font-size: 12pt;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.commerce {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem -2rem 0 0;
 

}

.contact img {
  width: 40px;
  padding-top: .5rem;
}

.featured .img3 {
  width: 46%;
  height: auto;
  margin-left: 10%;
}

/*Directory*/
.cards {

  display: grid;
  grid-template-columns: 1fr 1fr;
  

}



}
