* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body, html {
    max-width: 100%;
   
  }

body {
    background-color: gray; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, gray, white);
}

h1, h2, h3, caption {
    font-family: "Stardos Stencil";
}

p, th, li, td {
    font-family: "Dosis";
}
    

  /*Header*/

  header.clearfix {
    width: 100%;
    height: 25%;
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
  }
  
  header img {
    position: relative;
    margin-left: 25%;

  
  }
    
  header h1 {
    position: relative;
    color: #F23232;
    margin-left: 40%;
    margin-top: -5rem;
    font-family: "Stardos Stencil";
    font-size: 40pt;
    text-shadow: 2px 3px 4px black;
    z-index: 1;
    
  }
  
  header h2 {
    color: black;
    padding-bottom: 1rem;
    margin-left: 40%;
    margin-top: -3rem;
    font-family: "Dosis";
    font-size: 15pt;
  }

  /*Nav */

  nav {
  max-width: 100%;
  background-color: #F23232;
  background-image: linear-gradient(to bottom right, #F23232, white);
  }


nav ul {
    width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
 
  box-shadow: 2px 3px 4px black;
}

nav ul li {
    font-family: "Stardos Stencil";
}


nav ul li a {
  
  display: block;
  color: black;

  text-decoration: none;
  text-align: center;
  padding: 1rem 2rem;

}

nav a:hover {
    color: white;
    text-shadow: 1px 1px 2px black;

  }

  .active {
    border: .2rem solid black;
  }
  
 button {
    background-color: #FFADAD;
    color: white;
    width: 2rem;
    padding: .3rem;
  }
  
  nav ul.hide {
    display: none;
  }

  


  /* All Design*/
.pgTitle {
    margin: 2rem 0 2rem 2rem;
    
}

/*Home */

.call {
background-color: #F8DB7E;
margin: 2rem 0;
box-shadow: .5rem .5rem .5rem gray;
}

.call h1, .call h2 {
    font-family: "Stardos Stencil";
    font-size: 10pt;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}



.featured h3 {
  text-align: center;
}

.img1, .img2 {
  display: none;
}

/*.featured .img3 {
  margin: 1rem 18%;
}*/



.events {
  width: 100%;
  background-color: white;
  border: solid .5rem #F8DB7E;
  margin-right: 3rem;
  
}

.events h2 {
  text-decoration: 2pt underline solid  #F8DB7E;
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.events li {
  text-align: center;
  font-size: 12pt;
  padding: .5rem .5rem;
}
.weather {
  width: 97%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
  
}


.place2, .commerce {
  background-color: white;
  text-align: center; 
  margin: 0 2rem;
  border: solid .5rem #F8DB7E;
  padding: 1rem;
 
}

.place2 p {
  padding: .5rem;
  font-weight: bold;
}

.forecast h2 {
  background-color: #F8DB7E;
  text-align: center;
  margin: 0 2rem;
  padding: .5rem;
}

div#daysForecast {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  text-align: center; 
  margin: 1rem 0rem 0 2rem;
  border: solid .5rem #F8DB7E;
  padding: 1rem;

}

#descript {
  text-transform: capitalize;
}
.commerce {
  width: 93%;
  margin: 1rem 1rem;
  background-color: white;
  text-align: center; 
  border: solid .5rem #F8DB7E;
  padding: 1rem;
  box-shadow: .5rem .5rem .5rem gray;

}

.contact {
  margin-top: 1rem;
}

.contact img {
    width: 20px;
    padding-top: .5rem;
}

/*About*/

#about, #about1 {
  display: flex;
	flex-wrap: wrap;
  margin: 0 2rem;
  background-color: white;
  border: solid 2px #F8DB7E;
  padding: 1rem;
  
  
}


div#about, div#about1 {
  width: 90%;
  height: auto;
  margin: .5rem auto;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: .5rem .5rem .5rem gray;

}

div#about h2, div#about1 h2 {
  padding-bottom: 1rem;
}

#about img {
  width: 40%;
  height: auto;
  float: right;
  padding: 1rem;
}

#about1 img {
  width: 40%;
  height: auto;
  float: left;
  padding: 1rem;
}


  /* Join and Contact*/
  .forms {
  margin: 2rem 0 1rem 1rem;
  color: #F23232;
  font-size: 2rem;

}

h1.forms {
  font-family: "'Stardos Stencil'";
  text-shadow: .5rem .5rem .5rem black;
}

form fieldset {
  width: 75%;
  margin: 2rem 3rem;
  border: 2px solid gray;
  border-radius: 10px;
  padding: .5rem 2%;
  background-color: white;
  box-shadow: 1rem 1rem 2rem gray;
  
}

form legend {
  margin: 0 1rem;
  padding: 0 .5rem;
  font-family: "Dosis";
  font-size: 16pt;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color:black;
  font-size: .8rem;
  font-family: "Dosis";
  font-size: 12pt;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 2px #F8DB7E;
  border-radius: 4px;
  padding: .75rem;
  color:#555;
  width: 100%;
  max-width: 20rem;
  background-color: rgb(228, 228, 253);
 
}

label.top {
  margin-left: 1rem;
}

.benny td ul li {
  margin-left: .5rem;
}

.benny {
  margin: 1rem;
}

textarea {
  width: 99%;
  padding: .75rem .75rem;
}

form input.submitBtn {
  border: none;
  background: #F8DB7E;
  color: black;
  text-shadow: 1pt 1pt 3pt gray;
  border-radius: 1rem;
  padding: .75rem 1rem;
  margin: 1rem 0 2rem 3.5rem;
  width: 75%;
  max-width: 20rem;
  font-family: "Dosis";
  font-size: 12pt;
  box-shadow: 1rem 1rem 2rem gray;
  
}



form label.top input:required {
  border-left: solid red 6px;
}

form label.top input:required:valid {
  border-left: solid green 6px;
}

.contactMap {
  width: 100%;

  margin-top: 2rem;
  margin-bottom: 2rem;
  
}

table {
  margin: 1rem 0 2rem 3rem;
  box-shadow: 1rem 1rem 2rem gray;
}

table caption {
  background-color: #F23232;
  background-image: linear-gradient(to bottom right, #F23232, white);
  font-size: 21pt;
  padding: 1rem;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 15px;
  background: #F8DB7E;
}

td {
  background-color: white;
  padding: 15px;
}

.map {

  margin: 1rem 1rem;
}

.address {

  background-color: white;
  text-align: center; 
  border: solid .5rem #F8DB7E;
  padding: 2rem;
  box-shadow: 1rem 1rem 2rem gray;

}

/* Directory */

.cards {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem;
  background: #F8DB7E;
  padding: 3rem;
  border: solid .3rem black;

}

.cards div {
  background: white;
   border: solid .2rem black;
   padding: 1rem;
   box-shadow: .5rem .5rem .5rem gray;
}

.cards div img {
  margin-left: 20%;
  padding-bottom: 1rem;
  
}

  /* Footer*/
  footer {
      background-color: white;
      font-family: "Dosis";
      margin: 2rem 0;
      padding: 2rem;
      box-shadow: 2px 3px 4px black;
  }
  

  .clearfix:after {
    content: "";
    display: table; 
    clear: both;
  }