@media only screen and (min-width: 32.5em) {
header {
    margin-top: 2em;
    font-size: 35pt;
    margin-left: 6.5em;
    margin-right: 6.5em;
    text-align: left;
    
}

img {
    position: absolute;
    top: 18%;
    right: 27%;
    width: 15%;
    box-shadow: 5px 4px 5px black;
    border-radius: 25%;
}

.center {
    margin-left: 25%;
}

footer {
    margin-left: 19em;
    margin-right: 19em;
    font-size: 12pt;
    border-radius: 25px;
}

}