
body {
    padding: 0;
    background-color: rgb(70, 67, 67);
}

header {
    padding: .5em;
    margin-top: 5.5em;
    text-align: center;
    background-color: rgb(97, 48, 64);
    color: rgb(255, 249, 236);
    font-family: "nanum myeon", "lucinda sans";
    font-size: 25pt;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    border-radius: 25px;
    box-shadow: 3px 3px 7px black;
}
img {
    position: absolute;
    top: .5em;
    right: 27%;
    width: 47%;
    box-shadow: 5px 4px 5px black;
    border-radius: 25%;
}

.center {
    position: relative;
    margin-left: 5%;
    font-weight: bold;
    color: rgb(255, 249, 236);
    text-shadow: 1px 1px 5px black;
    font-family: "josefin sans", "sans serif";

}


.center a {
    text-decoration: none;
    color: rgb(255, 249, 236);
    text-shadow: 3px 3px 3px black;
}

h1 {
    font-size: 21pt;
   text-decoration: underline; 
}

.center li {
    font-size: 12pt;
}



footer {
    padding: .5em;
    margin-top: 4em;
    text-align: center;
    background-color: rgb(97, 48, 64);
    font-family: "nanum myeon", "lucinda sans";
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    box-shadow: 3px 3px 7px black;
    word-spacing: 5pt;
    color: rgb(255, 249, 236);
}

footer a {
    color: rgb(255, 249, 236);
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}





