@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body {
    padding: 0;
    background-color: rgb(70, 67, 67);
}

header {
    padding: .5em;
    margin-top: 1em;
    margin-left: 6.5em;
    margin-right: 6.5em;
    background-color: rgb(97, 48, 64);
    color: rgb(255, 249, 236);
    font-family: "nanum myeon", "lucinda sans";
    font-size: 35pt;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    border-radius: 25px;
    box-shadow: 3px 3px 7px black;
}
img {
    position: absolute;
    left: 60%;
    top:90px;
    z-index: 0;
    height: 200px;
    box-shadow: 5px 4px 5px black;
    border-radius: 25px;
}

.center {
    position: relative;
    margin-left: 25%;
    font-weight: bold;
    color: rgb(255, 249, 236);
    text-shadow: 1px 1px 5px black;
    font-family: "josefin sans", "sans serif";

}

.center a {
    text-decoration: none;
    color: rgb(255, 249, 236);
    text-shadow: 3px 3px 3px black;
}

h1 {
    font-size: 25pt;
   text-decoration: underline; 
}

.center li {
    font-size: 15pt;
}


footer {
    padding: .5em;
    margin-top: 4em;
    margin-left: 19.2em;
    margin-right: 19.2em;
    background-color: rgb(97, 48, 64);
    font-family: "nanum myeon", "lucinda sans";
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    box-shadow: 3px 3px 7px black;
    word-spacing: 5pt;
    color: rgb(255, 249, 236);
}

footer a {
    color: rgb(255, 249, 236);
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}





