@media only screen and (min-width: 992px) {

  
header img {
  position: absolute;
  display: inline;
  width: 20%;
  margin: -2rem 0;
  padding: 3rem;
}

header h1 {
text-align: left;
margin-left: 16rem;
font-family: "sigmar one";
font-size: 35pt;
text-shadow: 1px 2px 3px black;
}

header h3 {
  margin-left: -22rem;
padding-bottom: 1rem;
text-align: center;
font-family: "love ya like a sister";
font-size: 18pt;
}
/*nav*/ 

nav ul li {
  padding: .5rem 3.53rem;
}

.cont1, .cont2 {
  margin-left: 5rem;
  margin-right: 5rem;
}

}