* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background-color: rgb(228, 228, 253);
}

header {
  background-color: white;
  padding: .5rem;
}

header img {
  display: inline;
  width: 45%;
  margin: 1rem 8.3rem;

}
  
header h1 {
  display: none;
  color: blue;
  text-align: center;
  font-family: "sigmar one";
  font-size: 15pt;
  text-shadow: 2px 3px 4px black;
}

header h3 {
  padding-bottom: 1rem;
  text-align: center;
  font-family: "love ya like a sister";
  font-size: 10pt;
}
/*navigation
*/
nav {
  background-color: white;
  box-shadow: 3px 3px 5px gray;
  border-radius: 2px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: .5rem;
}
nav ul li a {
  display: block;
  color: #eee;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
}
/*
#red, #orange, #yellow, #green, #blue, #purple {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-family: "sigmar one", sans serif;
  font-size: 14pt;
  text-align: center;
}
*/
#red {
  background-color: #FFADAD;
  text-shadow: 1px 1px 2px white;
  font-family: "sigmar one", sans serif;
  font-size: 14pt;
  text-align: center;
}
 
#orange {
  background-color:#FFD6A5;
  text-shadow: 1px 1px 2px white;
  font-family: "sigmar one", sans serif;
  font-size: 14pt;
  text-align: center;
}

#yellow {
  background-color:#FDFFB6;
  text-shadow: 1px 1px 2px white;
  font-family: "sigmar one", sans serif;
  font-size: 14pt;
  text-align: center;
}

#green {
  background-color: #CAFFBF;
  text-shadow: 1px 1px 2px white;
  font-family: "sigmar one", sans serif;
  font-size: 14pt;
  text-align: center;
}

#blue {
  background-color:#A0C4FF;
  text-shadow: 1px 1px 2px white;
  font-family: "sigmar one", sans serif;
  font-size: 14pt;
  text-align: center;
}

#purple {
  background-color: #BDB2FF;
  text-shadow: 1px 1px 2px white;
  font-family: "sigmar one", sans serif;
  font-size: 14pt;
  text-align: center;
}

#red:hover {
  background-color: red;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#orange:hover {
  background-color: orange;
  color: white;
  text-shadow: 1px 1px 2px black;

}
#yellow:hover {
    background-color: yellow;
    color: white;
    text-shadow: 1px 1px 2px black;

}
#green:hover {
  background-color: green;
  color: white;
  text-shadow: 1px 1px 2px black;
  

}
#blue:hover {
  background-color: blue;
  color: white;
  text-shadow: 1px 1px 2px black;

}
#purple:hover {
    background-color:  purple;
    color: white;
    text-shadow: 1px 1px 2px black;

}

.active {
  border: .3rem solid black;
}

/*
#red.active {
  background-color: white;
  color: red;
  padding: .5rem 3rem;
  border: .5rem solid black;
}

#orange.active {
    background-color: white;
    color: orange;
    padding: .5rem 3rem;
    border: .5rem solid black;
}

#yellow.active {
  background-color: white;
  color: yellow;
  padding: .5rem 3rem;
  border: .5rem solid black;
}

#green.active {
  background-color: white;
  color: green;
  padding: .5rem 3rem;
  border: .5rem solid black;
}

#blue.active {
  background-color: white;
  color: blue;
  padding: .5rem 3rem;
  border: .5rem solid black;
}

#purple.active {
  background-color: white;
  color: purple;
  padding: .5rem 3rem;
  border: .5rem solid black;
}
*/
button {
  background-color: #FFADAD;
  color: white;
  width: 2rem;
  margin-left: 14.5rem;
  padding: .3rem;
}

nav ul.hide {
  display: none;
}


/*main content*/
/*
.cont1 {
  display: flex;
  flex-direction: row;
}

.cont2 {
  display: flex;
  flex-direction: row;
}
*/
.place1 {
  margin: 1rem;
  padding: 1.5rem;
  background-color: white;
  border: 2.5pt solid green;
  box-shadow: 2px 2px 5px black;
  font-family: "love ya like a sister";
}

h2 {
  color: purple;
  margin: 1rem;
  text-shadow: .5px .5px 1px white;
  font-family: "sigmar one";
}
.place2 {
  margin: 1rem;
  padding: 1.5rem;
  background-color: white;
  border: 2.5pt solid red;
  box-shadow: 2px 2px 5px black;
  font-family: "love ya like a sister";
}
.place3 {
  margin: 1rem;
  padding: 1.5rem;
  background-color: white;
  border: 2.5pt solid blue;
  box-shadow: 2px 2px 5px black;
  font-family: "love ya like a sister";
}
.place4 {
  margin: 1rem;
  padding: 1.5rem;
  background-color: white;
  border: 2.5pt solid orange;
  box-shadow: 2px 2px 5px black;
  font-family: "love ya like a sister";
}


footer {
    background-color: white;
    padding: 1rem;
    border-radius: 1%;
    box-shadow: 2px 2px 7px black;
    font-family: "love ya like a sister";
    text-align: center;
}

footer a {
  text-decoration: none;
  color: blue;
}
.clearfix:after {
  content: "";
  display: table; 
  clear: both;
}