* { -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
 box-sizing: border-box;}

 /* body rules here */
  body {
      font-family: verdana;
      font-size: 16px;
      background-color: rgb(240, 214, 190);
  }

  /* header rules here */
  header {
      background-color: #683811;
      padding: 1rem 2%;
  }

  header h1 {
    margin: 0;
    color: whitesmoke;
  }

  header h1 {
    text-align: center;
}

  header h2 {
    margin: 0;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    text-align: center;
    }

  /* navigation rules here */
  nav {
      background-color: rgb(31, 82, 54);
  }
  nav ul {
      margin: 0;
      padding: 0;
  }

  nav li{
      list-style-type: none;
  }

  nav li.active {
      background-color: rgb(81, 119, 86);
  }

  nav a {
      display: block;
      padding: .8rem 0; /*44 min height*/
      color: whitesmoke;
      text-align: center;
      text-decoration: none;
  }

  nav a:hover{
      background-color: rgb(58, 121, 66);
  }

  /* main rules here */
  main {
      padding: 1rem 2%;
      display: block;
  }

  main h1 {
      color: #683811;
  }

  main figure img {
      width: 100%;
  }

  main figure {
      width: 100%;
      margin: 0;
  }

  main figcaption {
      text-align: center;
      font-size: .8rem;
  }

  footer {
      text-align: center;
      padding: 1rem 2%;
      background-color: #683811;
      color: whitesmoke;
  }





  .clearfix:after {
      content: "";
      display: table; 
      clear: both;
  }