@media only screen and (min-width: 44rem) {

  header {
    max-width: 100%;
    padding: 1.5rem;
  }
  
    header img {
        position: absolute;
        display: inline;
        width: 15%;
        margin: 1rem 0 5rem 0rem;
      }
      
    header h1 {
      display:block;
      text-align: center;
      font-size: 25pt;
      text-align: left;
      margin-left: 9rem;

    }
    
    header h2 {
      font-size: 12pt;
      margin-left: 9rem;
    }
    /*nav*/
    nav {
      max-width: 100%;
    }

    nav ul {
        display: flex;
          list-style-type: none;
          padding: 0;
          margin: 0;
      }
      
      
      nav ul li a {
          display: inline-block;
          padding: 0 .67rem;
      
      }

      nav ul.hide{
        display: flex;
      }
  
    nav button {
      display: none;
  }

  /*main*/

  #message {
    width: 100%;
    top: 1rem;
    font-size: 12pt;
  }

.pageTitle {
  margin-left: 0;
}

.cont1 img {
  width: 100%;
}
  .place2 {
    position: absolute;
    font-size: 12pt;
    margin: -22rem 0 0 2rem;
  }

  .cont2 h2 {
    margin: 0;
  }

  
  .forecast img {
    max-width: 100%;
  }

  section.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
  }


  section.forecast div {
    margin: 1rem 2rem;
  }

  #daysForecast div {
    max-width: 100%;
    margin: 2rem 1.3rem;
    padding: 1rem;
  }
  
  #daysForecast {
    width: 100%;
  
    margin-left: 4rem;
    margin-right: 2rem;
  }
div.place3 {
  max-width: 100%;
}

.place3 h2 {
  margin-left: -1rem;
}

.place3 img {
  width: 40%;
  float: right;
  }
/*
.hide {
  display: none;
}  
*/
  .bottom {
    margin: 1rem;
  }

  .bottom img {
    display: block;
    margin: 1rem 0 .5rem 2rem;
  }

  section.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .address h2 {
    margin-left: -1rem;
  }

  .contact p {
    margin-top: 5.5rem;
    margin-left: 1rem;
  }


  /*Gallery page*/
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-left: 2rem;
}

/*Home Page*/

img.mount {
  width: 100%;
  height: auto;
  margin-left: 0;
}

.cards {
	max-width: 100%;
  margin: .5rem auto;
	display: flex;
	flex-wrap: wrap;
}

.cards div {
  margin-left: 1rem;
}

div section {
  display: flex;
	flex-direction: row;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

div section:nth-child(odd) {
	flex-direction: row-reverse;
}

.cards figure img {
  width: 100%; 
  height: auto;
}




  
  footer {
    max-width: 100%;
  }
  
}