@media only screen and (min-width: 37.5em){

	/* Flex *********************/
nav ul { 
    display: flex; }
nav ul li {
     flex: 1 1 100%; }
	
	/* Grid *********************/
nav ul { 
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }  
#maincont {
    margin: 1rem 2%;
    width: 94%;
    display: flex;
    box-shadow: 1px 5px 15px rgb(71, 21, 32); 
    grid-template-columns: auto;
    padding: 2em 3em;
    grid-column-gap: 50px; 
}

h2 {
    text-align: left;
}
.logo1 img{ 
    display: flex;
    flex-direction: column;
    width: 150px;
}
 /*Persona*/   
.personas {
    display: flex;
    flex-direction: column;
    margin: 1rem 2%;
    width: 96%;
    box-shadow: 1px 5px 15px rgb(71, 21, 32);
}
.one img, .two img {
    margin-left: 4rem;
    width: 190px;
    box-shadow: 1px 5px 15px rgb(71, 21, 32);
    border-radius: 50%;
}
.scene {

    display: flex;
}

.scene h2 {
    margin-bottom: 1rem;
}
/*Typogrophy*/
.sigmar {
    margin-left: 1rem;
    font-size: 18pt;
}

.love {
    margin-left: 1rem;
    font-size: 15pt;
}
/*Color*/
.logo {
    background-color: rgb(154, 154, 255);
    width: 50%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: .7rem 0;
}
.colors {
    margin: .5rem .3rem 2%;
    padding: 1rem;
    width: 95%;
    box-shadow: 1px 5px 15px rgb(71, 21, 32);

}   

.lightblue {
    background-color: rgb(154, 154, 255);
    margin: 1rem 0;
}
.white {
    background-color: white;
    margin: 1rem 0;
}
.red {
    background-color: red;
    margin: 1rem 0;
}
.purple {
    background-color: purple;
    margin: 1rem 0;
}
.blue {
    background-color:blue;
    margin: 1rem 0;
}
.green {
    background-color:green;
    margin: 1rem 0;
}
.orange {
    background-color:orange;
    margin: 1rem 0;
}
.yellow {
    background-color: yellow;
    margin: 1rem 0;
}    
}